<a href="https://colab.research.google.com/github/Bhavin-Bhesaniya/Covid19Tracker_AndroidApp/blob/master/Example_BasicProgram.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Single Line comment    
""" Multi-line Comment """

# Variable :-
a = 100
print(a)
print(type(a))  # Type function define which type variable
print(len(str(a)))   # How many characters are there


# Multiple Variable
a = b = c = 10          # Same value
print(a, b, c)
a = b = c = 10, 20, 30  # Declare multi-variable with different value
print(a)


# Unpacking -
a = [50, 20, 40]  # Declare list
x = y = z = a     # Use list value for multi-variable
print(x)          # Unpack collection of types


# Local And Global Variable -
A = "Global"                  # Global variable declaration outside the function
def fun():
    global A                  # Access Local variable outside function use global keyword
    A = "Local variable"      # Local variable declaration inside function
    print("Variable : " + A)
fun()
print("Variable : " + A)


# Take user values in variables -
Input_Values = input("ENTER NO :- ")  # Get user value from input function
print(type(Input_Values))             # All value from input function is string
print(int(Input_Values))              # Type cast value

# Escape Character -
"""
  \n - newline
  \t - tab
  \' - Semi-Colon
  \" - Double-Colon
  \r - Carriage Return
  \b - BackSpace
  \f - form feed
  ooo - Octal
  xhh - Hex value
"""

# Array Module -Array is not in python we use array module
import array as ar
a  = ar.array('i',[1,2,3,4,5])
print(a)

100
<class 'int'>
3
10 10 10
(10, 20, 30)
[50, 20, 40]
Variable : Local variable
Variable : Local variable
ENTER NO :- 1
<class 'str'>
1
array('i', [1, 2, 3, 4, 5])

In [ ]:
# Condition statement used to check conditions satisfied or not
a = 1000
b = 100

# Simple if
if a > b:
    print("Yes a is bigger than b")

# if..else
if a < b:
    print("No b is bigger than a")
else:
    print("no a is bigger than b")

# if..elif..else
if a == b:
    print("Both equals")
elif a < b:
    print("No b is bigger than")
else:
    print("no a is bigger than b")

# Nested if..else
if a != b:
    if a < b:
        print("no b is bigger than a")
    else:
        print("no a is bigger than b")
else:
    print("both equals")

# Short if..else
print("A") if a > b else print("B")


# Loops -

# While -
i = 1
while i < 10:
    i = i + 1
    if i == 8:
        break
    if i == 5:
        continue
    print(i)
else:
    print("If condition not satisfied come here or after loop completes")

# For Loop -
for x in range(0, 10):  # Any iterable
    print(x)
print("Finished")

for q in range(10, 14, 2):
    for e in range(20, 25):
        print(q, e)

Yes a is bigger than b
no a is bigger than b
no a is bigger than b
no a is bigger than b
A
2
3
4
6
7
0
1
2
3
4
5
6
7
8
9
Finished
10 20
10 21
10 22
10 23
10 24
12 20
12 21
12 22
12 23
12 24

In [ ]:
# Function - Block of code that run when it is called
# Create Function :-
def run():
    print("Yes it is run")
run()  # Calling function


# Passing Argument to Function :-
print("\nPassing Argument Function : ")
def Sname(fname):                         # fname is parameter name
    print("My name is " + fname)


Sname("Bhavin")  # Argument passing to function
a = "Bhavin A"
Sname(a)  # Passing Variable as argument


# Default Argument -
print("\nDefault Argument Function : ")
def country(name="India"):
    print("My country name is " + name)
country("USA")
country()


# *ARGS :- Passing no of argument
print("\nPassing No of Argument *args : ")
def Cname(*fullname):
    print(fullname[1] + " " + fullname[0])
    print(fullname[0] + " " + fullname[1])
    print(fullname[0] + " " + fullname[0])
Cname("Bhavin", "Bhesaniya")


# Keyword argument :-
print("\nKeyword Argument : ")
def Cname(fname, lname):
    print(fname + " " + lname)
Cname(fname="Bhavin", lname="Bhesaniya")


# **kwargs :- Passing no of keyword argument
print("\nPassing No Of Keyword Argument : **kwargs ")
def Cname(**fullname):
    print(fullname["fname"] + " " + fullname["lname"])
Cname(fname="Bhavin", lname="Bhesaniya")


# Return Value From Function :-
print("\nReturn Value from the function :")
def sum_func(a, b):
    return print(a + b)
sum_func(10, 20)


# RECURSION :- Function call itself known as recursion



# LAMDA :- Function without name or anonymous function | Syntax - lambda arguments : expression
print("\nLamda Function :")
def x(p, n): return p * n
print(x(5, 5))



# 1)Pass obj in var :-
print("\nPass Object in Function Through Variable")

def fun(txt):
    return txt.upper()

print(fun("hello"))
x = fun
print(x("pass object"))



# 2)Pass function as argument :-
print("\nPassing function as argument")
def first_fun(txt):
    return txt.upper()

def second_fun(txt):
    return txt.lower()

def third_fun(txt):
    gretty = txt("passing Functions As Argument")
    print(gretty)

third_fun(first_fun)
third_fun(second_fun)


# 3)Function return another function :-
print("\nFunction return another function")
def create_adder(x):
    def adder(y):
        return x + y
    return adder
add_15 = create_adder(15)
print(add_15(10))


# Yield Example :-
print("\nYield Example :")
def Sqaure_func():
    i = 1
    while True:
        yield i * i
        i += 1
for x in Sqaure_func():
    if x > 50:
        break
    print(x)

Yes it is run

Passing Argument Function :
My name is Bhavin
My name is Bhavin A

Default Argument Function :
My country name is USA
My country name is India

Passing No of Argument *args :
Bhesaniya Bhavin
Bhavin Bhesaniya
Bhavin Bhavin

Keyword Argument :
Bhavin Bhesaniya

Passing No Of Keyword Argument : **kwargs
Bhavin Bhesaniya

Return Value from the function :
30

Lamda Function :
25

Pass Object in Function Through Variable
HELLO
PASS OBJECT

Passing function as argument
PASSING FUNCTIONS AS ARGUMENT
passing functions as argument

Function return another function
25

Yield Example :
1
4
9
16
25
36
49

In [ ]:
# 1. Add Two Numbers
a = 10
b = 20
c = a + b
print("Sum of A and B :- ",c)  


a1 = int(input("Enter Value For A :- "))  
b2 = int(input("Enter Value For B :- "))
print(a1 + b2)

# ValueError - Type is int but pass other
# TypeError  - Unsupported operand type for + :- 'int' and 'str'

Sum of A and B :-  30
Enter Value For A :- 10
Enter Value For B :- 20
30

In [ ]:
# 2. Maximum of two numbers
a = int(input("Enter Value For A :- "))  
b = int(input("Enter Value For B :- "))
if a > b:
  print(a)
else:
  print(b)

Enter Value For A :- 10
Enter Value For B :- 20
20

In [ ]:
# 3. Largest among 3 numbers
num1 = 50
num2 = 20
num3 = 55

if num1 > num2 and num1 > num3 :
    print("Largest", num1)
elif num2 > num3 and num2 > num3 :
    print("Largest", num2)
else:
    print(num3)

55

In [ ]:
# 4. Positive, Negative, Zero Number
a = -10
if a > 0:
    print("Positive", a)
elif a < 0: 
    print("Negative", a)
else: 
    print("Zero", a)

Negative -10

In [ ]:
# 5. Swap variable
a = 10
b = 20

temp = a
a = b
b = temp
print("First Swap :- ", a, b)

a, b = b, a
print("Second Swap :- ", a, b)

First Swap :-  20 10
Second Swap :-  10 20

In [ ]:
# 6. Odd or Even
a = 10
if a % 2 == 0:
    print("Even",a)
else:
    print("Odd", a)

Even 10

In [ ]:
# 7. Factorial Number
num = int(input("Enter No :- "))
def fact(a):
    if a == 0:
        return 1
    else:
        return a * fact(a-1)
result = fact(num)
print("Factorial of 5 is :- ", result)

Enter No :- 5
Factorial of 5 is :-  120

In [ ]:
# 8. Prime or Not
user_no = int(input("Enter No :- "))

for num in range(2, user_no+1):
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print("Prime No", num)

Enter No :- 10
Prime No 2
Prime No 3
Prime No 5
Prime No 7

In [ ]:
# 9. Squar Root
# Using Math module
import math           
print(math.sqrt(49))

# Using Exponentiation
a = 49
square_root = a ** (1/2)  # (0.5)
print(int(square_root))

7.0
7

In [ ]:
# 10. Random module
import random
random_list = []
for i in range(0, 10):
    n = random.randint(0, 100)
    random_list.append(n)
print("Random No. list generated :- ", random_list)

Random No. list generated :-  [19, 75, 29, 44, 9, 61, 13, 76, 43, 14]

In [ ]:
# 11. Add and Muliply Two Matrics 

X = [
      [12,7,3],
      [4 ,5,6],
      [7 ,8,9] ]

Y = [
      [5,8,1],
      [6,7,3],
      [4,5,9] ]

result = [[X[i][j] + Y[i][j]  for j in range(len(X[0]))] for i in range(len(X)) ]  # For multiplication X[i][j] * Y[i][j]

for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
# 12. Sum of Array and larget among them
usr_input = int(input("Enter No to add item in list :- "))
usr_list = []


for i in range(0, usr_input):
    ele = int(input("Enter Value :- "))
    usr_list.append(ele)        # Store value in array
print("List :- ", usr_list)


# Sum of array
sum = 0
for adding in range(0, len(usr_list)):
    sum = sum + usr_list[adding]
print(sum)

# Largest of array
def largest(arr, n):
    ans = max(arr)
    return ans
print("Larget Element :- ", largest(usr_list, len(usr_list)))

Enter No to add item in list :- 3
Enter Value :- 100
Enter Value :- 20
Enter Value :- 25
List :-  [100, 20, 25]
145
Larget Element :-  100

In [ ]:
# 13. Convert Kilometres to Miles
km = 5
miles = 0.621 * km
print(miles)

3.105

In [ ]:
# 14. Calculate Area of triangle
h = int(input("Enter triangle's height length :- "))
b = int(input("Enter triangle's breadth length :- ")) 
tri_area = 0.5 * b * h
print(f"The area of triangle is :- {tri_area} ")

Enter triangle's height length :- 10
Enter triangle's breadth length :- 4
The area of triangle is :- 20.0

In [ ]:
# 15. Check String is Palindrome or Not 
user_string = input("Enter String :- ")

for i in range(len(user_string)):                   # validation = user_string[::-1]
    validation = ''.join(reversed(user_string))

if user_string == validation:
    print("Palindrome String :- ", user_string)
else:
    print("Not Palindrome String :- ", user_string)

Enter String :- rar
Palindrome String :-  rar

In [ ]:
# 16. Check Leap year
leap = 2008
if (leap % 400 == 0) & (leap % 100 == 0) or (leap % 4 == 0) & (leap % 100 != 0):
    print("Leap Year")
else:
    print("Not Leap Year")

Leap Year

In [ ]:
# 17. Check substring
ustring = "Check Substring Program"
ustring_chk = ustring[0:5]
if ustring_chk in ustring:
    print("Prsent")
else:
    print("Not Prsent")

Prsent

In [ ]:
# 18. Reverse String 
tString = "String Reversing"
print(tString[::-1])

In [ ]:
# 19. Check if string contain any special character
import re
test_string = "String Checking"
regex = re.compile('[@_!#$%^&*()<>?/\|}{~:]')
if regex.search(test_string) == None:
  print("String is accepted")
else:
  print("String is not accepted.")

String is accepted

In [ ]:
# 20. Fibonacci Sequence: Python
a = 0
b = 1

num = int(input("Enter No :- "))
for i in range(2, num):
 c = a + b
 a = b 
 b = c 
 print(c)

Enter No :- 11
1
2
3
5
8
13
21
34
55

In [ ]:
# 21. Display Multiplication Table
num = int(input("Enter table No :- "))
for i in range(1,10+1):
    print(num,"x", i, "=", num *i)

Enter table No :- 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# 22. Calcuis to Farenhit
user_temp = int(input("Enter Celsius :- "))
Faren = user_temp * 1.8 + 32 #  (cel&=*(9/5)+32)
print("Farenhit", Faren)

Enter Celsius :- 4
Farenhit 39.2

In [ ]:
# 23. Find ASCII Value of Character Program
c = 'A'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'A' is 65

In [ ]:
# 24. Find Sum of Natural Numbers using the Python
num = 16
if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 136

In [ ]:
# 25. Create a list of multiple of 3 less than 100 using list comprehension.
multiples_3 = [x * 3 for x in range(1, 10)]
print(multiples_3)

[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
# 26. Find the Factors of a Number
def print_factors(x):
   print("The factors of ",x," are - ")
   for i in range(1, x + 1):
       if x % i == 0:
           print(i)
num = 320
print_factors(num)

In [ ]:
# 27. Convert Decimal to Binary, Octal, and Hexadecimal
dec = 344
print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

In [ ]:
# 28. Create dictionary of fruits using their first letter as key using dict comprehension.
a = {'apple': 'fruit', 'beetroot': 'vegetable', 'cake': 'dessert'}
a['doughnut'] = 'snack'
print(a['apple'])

fruit

In [ ]:
# 29. HCF/GCD of Two Numbers Python Program
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
 
HCF = 1
for i in range(2,a+1):
    if(a%i==0 and b%i==0):
        HCF = i
print("First Number is: ",a)
print("Second Number is: ",b)
print("HCF of the numbers is: ",HCF)
LCM = int((a*b)/(HCF))
print("LCM of the two numbers is: ",LCM)

Enter the first number: 10
Enter the second number: 20
First Number is:  10
Second Number is:  20
HCF of the numbers is:  10
LCM of the two numbers is:  20

In [ ]:
# 30. Simple Calculator
def add(a,b):
    c = a + b 
    return c

def sub(a,b):
    c = a - b 
    return c

def mul(a,b):
    c = a * b 
    return c

def div(a,b):
    c = a / b 
    return c
print('''Simple Calculator :- \n
    1. Addition
    2. Substraction
    3. Multiplication
    4. Division
''')
usr_chocie = int(input("Choose No :- "))
a = int(input("Enter Val-1 :- "))
b = int(input("Enter Val-2 :- "))

if usr_chocie == 1:
    print("Addition :- ", add(a, b))
elif usr_chocie == 2:
    print("Substraction :- ", sub(a, b))
elif usr_chocie == 3:
    print("Multiplication :- ", mul(a, b))
elif usr_chocie == 4:
    print("Division :- ", div(a, b))
else:
    print("Wrong No. Choosen")

Simple Calculator :-

    1. Addition
    2. Substraction
    3. Multiplication
    4. Division

Choose No :- 1
Enter Val-1 :- 10
Enter Val-2 :- 20
Addition :-  30

In [ ]:
# 31. Area of all shapes
print('''
    Calculate Shape Area :- \n
    1. Rectangle
    2. Square
    3. Triangle
    4. Circle
    5. Parallelogram
    ''')
shape_name = input("Enter shape no whose area you want to find: ")
if shape_name == "1":
	l = int(input("Enter rectangle's length :- "))
	b = int(input("Enter rectangle's breadth :- "))
	rect_area = l * b
	print(f"The area of rectangle is :- {rect_area}")

elif shape_name == "2":
	s = int(input("Enter square's side length :- "))
	sqt_area = s * s
	print(f"The area of square is :- {sqt_area}")


elif shape_name == "3":
    h = int(input("Enter triangle's height length :- "))
    b = int(input("Enter triangle's breadth length :- ")) 
    tri_area = 0.5 * b * h
    print(f"The area of triangle is :- {tri_area} ")


elif shape_name == "4":
	r = int(input("Enter circle's radius length :- "))
	pi = 3.14
	circ_area = pi * r * r
	print(f"The area of circle is :- {circ_area} ")
    
   
elif shape_name == '5':
    b = int(input("Enter parallelogram's base length :- "))
    h = int(input("Enter parallelogram's height length :- "))
    para_area = b * h
    print(f"The area of parallelogram is :- {para_area}")
	
else:
    print("Sorry! This shape is not available")

In [ ]:
# 32. List 
print("Create List :- ")
list_var = ["list", 1, 2.2, True, 45]
print("\nAccessing list value :- ", list_var[0], " | last value :- ", list_var[-1])

list_var.insert(1, "InsertAt-1")
list_var[0] = "ModifyingAt0"
list_var.pop()              # Without index remove from last
list_var.remove(2.2)        # Remove element with specific value
print(list_var)

Create List :-

Accessing list value :-  list  | last value :-  45
['ModifyingAt0', 'InsertAt-1', 1, True]

In [ ]:
# 33. Tuple 
tuple_var = ("tuple", 1, 2.2, True, 45)
print("\nAccessing tuple and slice - \n", tuple_var[0], "\n",   tuple_var[-1])

# tuple_var.insert(1, "InsertAt-1") # tuple immutable so can't value change(No delete or remove single value)
print("Return Item Index No :   ", tuple_var.index("tuple"))
print("Return 1 If Item Found : ", tuple_var.count(True))
print(tuple_var)

Accessing tuple and slice -
 tuple
 45
Return Item Index No :    0
Return 1 If Item Found :  2
('tuple', 1, 2.2, True, 45)

In [ ]:
# 34.  Dictionary
Dict = {"First": "Bhavin",
        "Second": "Bhesaniya",
        3: "Number",
        4: 2001,
        "Five": ["Adding", "list", "Add any iterable"]
        }
print("Accessing dictionary Using Key : " + Dict["First"])
print("Accessing dictionary Using get function :- ", Dict.get("Five"))
print("Get All Keys :- " , Dict.keys())
print("Get All Values :- ", Dict.values())
print("Get All keys and Values :- ", Dict.items())  
Dict.update({4: 1152001})
print("\n", Dict)

print(Dict.pop(3))      # Remove specific key values
print(Dict.popitem())   # Remove last value
del Dict[4]             # Delete item with specified key
print("\n", Dict)

Dict.clear()
print(Dict)

Accessing dictionary Using Key : Bhavin
Accessing dictionary Using get function :-  ['Adding', 'list', 'Add any iterable']
Get All Keys :-  dict_keys(['First', 'Second', 3, 4, 'Five'])
Get All Values :-  dict_values(['Bhavin', 'Bhesaniya', 'Number', 2001, ['Adding', 'list', 'Add any iterable']])
Get All keys and Values :-  dict_items([('First', 'Bhavin'), ('Second', 'Bhesaniya'), (3, 'Number'), (4, 2001), ('Five', ['Adding', 'list', 'Add any iterable'])])

 {'First': 'Bhavin', 'Second': 'Bhesaniya', 3: 'Number', 4: 1152001, 'Five': ['Adding', 'list', 'Add any iterable']}
Number
('Five', ['Adding', 'list', 'Add any iterable'])

 {'First': 'Bhavin', 'Second': 'Bhesaniya'}
{}

In [ ]:
# 35. SET
set_in = input()
set1 = set(map(int, input().split()))
set1.intersection_update(set1)
print(set_in, set1)

10
20
10 {20}